<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-anchor fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"><i class="fas fa-home"></i> Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="list"><i class="fas fa-list-ul"></i> ListAccount</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="add"><i class="far fa-plus-square"></i> AddAccount</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="login">Log in</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="profile"><i class="fas fa-user-circle"></i>
          Profile</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="" (click)="auth.logout()"><i class="fas fa-sign-out-alt"></i> Log out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>